# =========================
# Environment Variables
# =========================
.env

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db